.input {
	BORDER-RIGHT: thin groove; BORDER-TOP: thin groove; FONT-SIZE: 9pt; BORDER-LEFT: thin groove; BORDER-BOTTOM: thin groove; FONT-FAMILY: "宋体"; HEIGHT: 18px
}
.Font9BoldWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: #336699; COLOR: white; FONT-FAMILY: arial
}
.BoldWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: #a0a040; COLOR: #ffffff; FONT-FAMILY: arial
}
.BoldYellow {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: #ffb842; COLOR: #ffffff; FONT-FAMILY: arial
}
.doc_txt {
	BORDER-RIGHT: rgb(255,255,255) 1px solid; BORDER-TOP: rgb(255,255,255) 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: white; BORDER-LEFT: rgb(255,255,255) 1px solid; COLOR: #000044; BORDER-BOTTOM: 1px solid; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
.pt9 {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: "宋体"
}
.pt10 {
	FONT-SIZE: 10.5pt; FONT-FAMILY: "宋体"
}
.pt11 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 18pt; FONT-FAMILY: "宋体"
}
.pt13 {
	FONT-SIZE: 13pt; LINE-HEIGHT: 20pt; FONT-FAMILY: "宋体"
}
.pt14 {
	FONT-SIZE: 14pt; LINE-HEIGHT: 22pt; FONT-FAMILY: "宋体"
}
TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: 13pt; FONT-FAMILY: "宋体", "serif"
}
BODY {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16pt; FONT-FAMILY: "宋体", "serif"
}
TR {
	FONT-SIZE: 9pt; FONT-FAMILY: "宋体", "serif"
}
SELECT {
	BACKGROUND: #ffffff; FONT: 12px "Verdana,Arial"
}
P {
	FONT-SIZE: 9pt; FONT-FAMILY: "宋体"
}
LI.n {
	COLOR: #ff0000
}
LI.y {
	COLOR: #00bb00
}
A {
	FONT-SIZE: 9pt; COLOR: #000033; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #000033; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 9pt; COLOR: #000033; TEXT-DECORATION: none
}
A.black {
	BACKGROUND: #00972f; COLOR: #000033
}
A.black:visited {
	TEXT-DECORATION: none
}
A.black:hover {
	TEXT-DECORATION: underline
}
A.white {
	COLOR: red; TEXT-DECORATION: none
}
A.white:visited {
	TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #007faa; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.orange {
	COLOR: yellow; TEXT-DECORATION: none
}
A.orange:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.orange:hover {
	COLOR: #000080; BACKGROUND-COLOR: #f88114; TEXT-DECORATION: underline
}
A.orange1 {
	COLOR: yellow; TEXT-DECORATION: none
}
A.orange1:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.orange1:hover {
	COLOR: #000080; BACKGROUND-COLOR: #f88114; TEXT-DECORATION: underline
}
#floater {
	Z-INDEX: 10; LEFT: 500px; VISIBILITY: visible; WIDTH: 125px; POSITION: absolute; TOP: 146px
}
TD.NON {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #c0c0c0; FONT-FAMILY: Tahoma, Verdana, Arial
}
TD.SUN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ee0000; FONT-FAMILY: Tahoma, Verdana, Arial
}
TD.TOP {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Tahoma, Verdana, Arial
}
TD.Some {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial
}
A.NOEVENT:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.NOEVENT:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.EVENT:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.EVENT:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.Today:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #669966; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.Today:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #669966; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.wise {
	COLOR: gray; FONT-FAMILY: Verdana
    FONT-SIZE: 9px; TEXT-DECORATION: none
}
INPUT.button
{
	background-image: url(../images/txtBG.jpg);
	border: 1px solid #5C6C7C;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 20px;
	width: auto;
	padding-left:5px;
	padding-right:5px;
}
table.listtable
{
	width :100%;
	border-width:0;
	border-color :#afcee7;
	font-size: 12px;	
	background-color: #CCCCCC;	
}
tr.listrow td,tr.listrowalt td
{
	text-align:center;	
	padding:0 10px 0 10px;
}

tr.listtitle
{
	background-image: url(../images/text_background.gif);
	text-align:center;
	font-weight:bold;
	height:24px;
	vertical-align:middle;
}
tr.listrow
{
	height:24px;
	background-color:White;
}
tr.listrowalt
{
	background-color:#ebebeb;	
	height:24px;
}
table.edittable
{	
	width :100%;
	border-width:0;
	border-color :#afcee7;
	font-size: 12px;	
	background-color: #CCCCCC;	
}
table.edittable,table.edittable table ,table.edittable.td,table.edittable td
{
	border-collapse:collapse;
}
table.edittable tr
{		
	background-color:White;	
}
table.edittable td
{
	padding:5px 10px 5px 10px;
}
tr.edittitle
{
	background-image: url(../images/text_background.gif);
	text-align:left;
	font-weight:bold;
	height:24px;
	vertical-align:middle;
}
tr.edittitle td
{
	padding:0 0 0 10px;
	background-color:White;
	height:24px;
}
td.editleft
{
	background-color:#ebebeb;		
	min-width:100px;
	width:15%;
}
span.must
{
	color:Red;
	width:20px;
	text-align:center;
}
input.editinput
{
	width:400px;
}
textarea.editarea
{
	width:400px;
	height:80px;
}
input.editinput2
{
	width:200px;
}
input.editnum
{
	width:50px;
}
div.treeview td,div.treeview img,div.treeview div,div.treeview table
{
	padding:0;
	margin:0;
 	
}
table.editinner td
{
	padding:0 0 0 5px;
}
table.listsearch
{
	width:100%;
}
table.listsearch td
{
	text-align:center;
	padding-bottom:5px;
	vertical-align:middle;

}
input.editdate
{
	width:80px;
}