.shop-header
{
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}
.shop-header:after
{
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.shop-header-logo-box
{
    position: relative;
    top: 40px;
    padding: 5px;
    --border: 1px solid red;
    border-radius: 50px;
    background-color: #fff;
    float: left;
}
.shop-header-logo-img
{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.shop-header-mid
{
    float: left;
    padding: 10px;
}

.shop-header-sum
{
    color: White;
}
.shop-header-title
{
    color: White;
}
.shop-header-right
{
    float: right;
}
.shop-header-right div
{
    float: right;
    text-align: center;
    color: Red;
    font-size: 12px;
}
.shop-header-right img
{
    width: 30px;
    height: 30px;
}

.product-list
{
    --border: 1px solid red;
    padding: 3px 0px 0px 3px;
}
.product-list:after
{
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.product-list li
{
    list-style: none;
    float: left;
    padding-right: 3px;
    padding-bottom: 3px;
}

.c4 li
{
    padding-right: 3px;
    padding-bottom: 3px;
    border: 1x solid red;
}

.c4 li:nth-child(4n+0)
{
    margin-right: 0px;
}

.c2 li
{
    padding-right: 3px;
    padding-bottom: 3px;
}

.c2 li:nth-child(2n+0)
{
    margin-right: 0px;
}
