body {margin:0; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:11px;}

.bgtopleft { background-color: #ffffff; background-image: url(../images/bg_top.gif); background-repeat: no-repeat; background-position: top; }
.bgtop { background-color: #e1e1e1; background-image: url(../images/bg_top.gif); background-repeat: no-repeat; background-position: top; }

.bgwhite {background-color: #ffffff}
.bggray {background-color: #e1e1e1}
.bgtable {background-color: #afafaf}

/* Font */
.white  {color:white}
.f11     {font-size:11px}
.f15     {font-size:15px}
.b        {font-weight:bold}
.yellow {color:#fff000}
.red {color:#ff0000}
.orange {color:#ff5a00}

/* 链接 */
a.link:link, a.link:visited	 {font-size:11px;color:#0033cc;text-decoration:underline;}
a.link:hover	{font-size:11px;color:#ff5a00;text-decoration:underline;}

A.whitelink:link,A.whitelink:visited,A.whitelink:hover	{font-size:11px;color:#FFFFFF;text-decoration:underline;}

a.redlink:link, a.redlink:visited	 {font-size:11px;color:#ff0000;text-decoration:underline;}
a.redlink:hover	{font-size:11px;color:#ff0000;text-decoration:underline;}

/* form */
input, select, textarea { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:11px;color:#333333}
.btn1     	{background:#009b00;
				font-size:11px;
				border-top:1px #CCCCCC solid;
				border-left:1px #CCCCCC solid;
				border-right:1px #006600 solid;
				border-bottom:1px #006600 solid;
				padding-top:2px;
				font-weight:bold;
				color:white;
				height:20px;}

/* 提示语言框 */
#note		{border:1px #5094da solid;}
#note td		{background:#5094da;color:white;}
#note a:link,#note a:visited	{font-size:15px;color:#FFFFFF;text-decoration:none;}
#note a:hover	{font-size:15px;color:#FFFFFF;text-decoration:none;}

#note_content			{border:1px #5094da solid;}
#note_content td		{margin:10px;padding:10px 10px 10px 20px;font-size:11px;color:#333333}


/* 搜索框 */
#search		{border:1px #009b00 solid;}
#search td		{background:#009b00;color:white;}
#search a:link,#search a:visited	{font-size:15px;color:#FFFFFF;text-decoration:none;}
#search a:hover	{font-size:15px;color:#FFFFFF;text-decoration:none;}

#search_content			{border:1px #009b00 solid;}
#search_content td		{margin:5px;padding:4px;font-size:11px;color:#333333}

/* 列表框A 灰色 */
#list		{border:1px #6e6e6e solid;}
#list td		{background:#6e6e6e;color:white;}/* 可修改提示语言背景色 */
#list a:link,#list a:visited	{font-size:15px;color:#FFFFFF;text-decoration:none;}
#list a:hover	{font-size:15px;color:#FFFFFF;text-decoration:none;}

#list_content			{border:1px #6e6e6e solid;}
#list_content td		{margin:5px;padding:4px;font-size:11px;color:#333333}

.listbg {background:#6e6e6e}
.listbg_title {background:#ebebeb;padding:5px;font-size:11px;color:#333333}
.listbg_content {background:#ffffff;padding:5px;font-size:11px;color:#333333}

/* 信息录入框 */
#input		{border:1px #0084b6 solid}
#input td		{background:#0084b6;color:white;}
#input a:link,#input a:visited	{font-size:15px;color:#FFFFFF;text-decoration:none;}
#input a:hover	{font-size:15px;color:#FFFFFF;text-decoration:none;}

#input_content			{border:1px #0084b6 solid}
#input_content td		{margin:5px;padding:4px;font-size:11px;color:#333333}

/* 列表框B 浅灰色 */
#list1		{border:1px #959595 solid;}
#list1 td		{background:#959595;color:white;}/* 可修改提示语言背景色 */
#list1 a:link,#list1 a:visited	{font-size:15px;color:#FFFFFF;text-decoration:none;}
#list1 a:hover	{font-size:15px;color:#FFFFFF;text-decoration:none;}

#list1_content			{border:1px #6e6e6e solid;}
#list1_content td		{margin:5px;padding:4px;font-size:11px;color:#333333}

.list1bg {background:#6e6e6e}
.list1bg_title {background:#ebebeb;padding:5px;font-size:11px;color:#333333}
.list1bg_content {background:#ffffff;padding:5px;font-size:11px;color:#333333}


/* 列表框C 桔色 */
#list2		{border:1px #ec5a14 solid;}
#list2 td		{background:#ec5a14;color:white;}/* 可修改提示语言背景色 */
#list2 a:link,#list2 a:visited	{font-size:15px;color:#FFFFFF;text-decoration:none;}
#list2 a:hover	{font-size:15px;color:#FFFFFF;text-decoration:none;}

#list2_content			{border:1px #6e6e6e solid;}
#list2_content td		{margin:5px;padding:4px;font-size:11px;color:#333333}

.list2bg {background:#6e6e6e}
.list2bg_title {background:#ebebeb;padding:5px;font-size:11px;color:#333333}
.list2bg_content {background:#ffffff;padding:5px;font-size:11px;color:#333333}


/* 低价机票状态 */
.depart {background:#fff5b9}
.stat1   {background:#8cc69e}
.stat2   {background:#c2ead2}
.stat3   {background:#e9fff2}
.note   {color:#999999}